
$ripple-speed : .5s;
$ripple-size : 1px;
$ripple-transform: scale(165);
$ripple-name: ripple;

.ripple {
    position: absolute;
    opacity: 0;
    width: $ripple-size;
    height: $ripple-size;
    background-color: rgb(0, 199, 0);
    -webkit-animation-duration: $ripple-speed;
    animation-duration: $ripple-speed;
    -webkit-animation-name: $ripple-name;
    animation-name: $ripple-name;
}
@-webkit-keyframes ripple {
    0% {
        opacity: 1;
    }
    100% {
        -webkit-transform: $ripple-transform;
    }
}
@keyframes ripple {
    0% {
        opacity: 1;
    }
    100% {
        transform: $ripple-transform;
    }
}
