// import files
//@import "variables.scss";
//@import "mixins.scss";
// Page
@import "_reset.scss";
@import "_ripple.scss";
body {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(248, 248, 248);
}

* {
    user-select: none;
}

#main {
    background-color: #E7E7E7;
    width: 400px;
    margin: 0 auto;
    padding: 5px;
    height: 630px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

// Caculator
#calculator {
    font-size: 30px;
    line-height: 100px;

    li.btn {
        position: relative;
        float: left;
        text-align: center;
        width: 100px;
        height: 100px;
        background-color: lime;
        overflow: hidden;
        &:hover {
            background-color: rgb(2, 233, 2);
            cursor: pointer;
            color: #FFF;
        }
        &::selection {
            background-color: transparent;
        }
    }
    li:nth-child(3) {
        font-size: 28px;
    }
    li:nth-child(4) {
        width: 400px;
        font-size: 20px;
        color: rgb(160, 159, 159);
        font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
        span {
            padding: 10px;
        }
    }
    #display {
        text-align: right;
        padding-right: 40px;
        font-size: 40px;
        height: 100px;
        line-height: 100px;
        background-color: #E7E7E7;
    }
    #sub-display{
        text-align: right;
        padding-right: 45px;
        $subDisplay-size : 22px;
        font-size: $subDisplay-size;
        height: 30px;
        line-height: $subDisplay-size;
        color:#333;
    }
}

.action {
    font-size: 38px;
}
